# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.pytest_cache/

# Python dependencies
.venv
.python-version

# mypy
.mypy_cache/

# JetBrains IDE settings
.idea/

# local env vars
.env
