[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
uvicorn = {extras = ["standard"], version = "*"}
psycopg2 = "*"
python-dotenv = "*"

[dev-packages]
# testing
pytest = "*"
pytest-env = "*"
pytest-mock = "*"
pytest-cov = "*"
# linting
flake8 = "*"
# formatting
black = "==21.8b0"
# sorting
isort = "*"
# pre-commit hooks
pre-commit = "*"

[requires]
python_version = "3.9"

[scripts]
install_db_prerequisites = """bash -c '
sudo apt install --force-yes libpq-dev
pg_config --version'
"""
